/* BlogNavbar.css */
.navbar-item {
  cursor: pointer;
  color: inherit; /* 繼承父級元素的顏色 */
  transition: all 0.3s ease; /* 添加過渡效果 */
  padding: 10px 15px; /* 添加內邊距 */
  border-radius: 5px; /* 添加圓角 */
  /* text-decoration: underline; 當前項目顯示底線 */
  font-size: larger;
  font-weight: bolder;
}

/* 卡片樣式 */ 
  .ant-card { 
    border-radius: 10px; /* 圓角 */  
    box-shadow: 0 4px 8px rgba(163, 151, 151, 0.1); /* 添加陰影效果 */ 
    transition: all 0.3s ease; /* 添加過渡效果 */ 
  } 
  .ant-card:hover { 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 增強陰影效果 */ 
    transform: translateY(-5px); /* 卡片上移效果 */ 
  }

.navbar-item:hover {
  /* color: white;  */
  /* background-color: black;  */
  border: rgb(15, 14, 14) double 3px ;
  text-decoration: underline; /* 滑鼠移過去時顯示底線 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 添加陰影效果 */
  transform: scale(1.2); /* 放大效果 */
}

.navbar-item.active {
  font-size: larger;
  font-weight: bolder;
  color: white; /* 當前項目文字顏色 */
  background-color: black; /* 當前項目背景色 */
  border: rgb(247, 238, 238) double 3px ;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); /* 添加更強的陰影效果 */
  transform: scale(1.1); /* 放大效果 */
}

.theme-switch {
  margin-bottom: 20px;
}

/* BlogNavbar.css */

/* 確保側邊欄有固定的大小，不受其他內容影響 */
.navbar-container {
  width: 250px; /* 固定寬度 */
  position: relative; /* 如果不需要固定在頁面某處，可以用 relative */
  top: 0; /* 初始位置為 0 */
  margin: 0 auto; /* 置中 */
  background-color: #0a0a32; /* 背景顏色 */
  padding: 20px; /* 內邊距 */
  border-radius: 10px; /* 圓角邊框 */
  border: white 3px solid;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1); /* 添加陰影效果 */
}

/* 卡片之間的間距 */
.navbar-container .ant-card {
  margin-bottom: 10px;
  background: linear-gradient(135deg, #eddfe8, #f5daf5);

}

/* 調整響應式設計，支援小螢幕 */
@media (max-width: 768px) {
  .navbar-container {
    width: 100%; /* 全螢幕寬度 */
    position: static; /* 移除固定位置 */
    margin-bottom: 20px; /* 增加底部間距 */
    padding: 10px;
  }

  .navbar-item {
    font-size: 16px; /* 調整字體大小以適應小螢幕 */
  }
}
.theme-switch {
    margin-bottom: 10px;
  }